Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
drf-spectacular
pulp
channels
channels-redis
psycopg2-binary
gunicorn
daphne
whitenoise
python-decouple
celery
redis
django-redis
dj-database-url
gspread
google-auth-oauthlib